.vscode/
# CMS
.inode
.itime
*_EVAL
**/input
**/output
a.out

# backups
*~
*.bak

# LaTex
*.pdf
*.aux
*.log
*.fls
*.fdb_latexmk
*.dvi

# Byte-compiled / optimized / DLL files
a.out
__pycache__/
*.py[cod]
*$py.class


